* {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  width: 450px;
  margin: 100px auto;
  padding: 10px;
  gap: 40px;
  text-align: left;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: -50px;
  margin-bottom: -50px;
}

.form > button {
  margin-top: 10px;
  background-color: black;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.profile {
  display: flex;
  flex-direction: column;
}

.circle {
  border: 2px solid gray;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle > p {
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.profile > h2 {
  font-size: 18px;
}

.steps {
  background-color: lightgray;
  border-radius: 10px;
  padding: 0 10px;
}

.strike {
  text-decoration: line-through;
  color: grey;
}
